.body{
    background-color: beige;

}

.navbar{
    background-color: dimgrey;
    overflow: hidden;
}

.a{
    float: left;
    padding: 14px 16px;
    color: white;
    font-size: 20px;
    text-decoration:none;

}

.a:hover{
    background-color: tomato;
    color: black;
}
