body{
    background:rgb(222, 181, 174) url(colored.jpg) no-repeat;
    background-size: cover;
    height:600px;
        
    }
    
    h1{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 50px;
        text-align: center;
    }
    
    
    .navbar{
        background-color: transparent;
        overflow: hidden;
        width: 100%;
    }
    
    a{
        float: right;
        padding: 14px 12px;
        text-decoration: underline;
        color: 0C0C0C ;
        font-size: 30px;
        text-align: center;
        
    }
    
    a:hover{
        background-color:DEB5AE;
        color: 0C0C0C ;
        
    }
    
    
    p.moto{
        font-size: 40px;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    footer{
        position:fixed;
        left:0;
        bottom: 0;
        width: 100%;
        background-color:transparent;
        color:black;
        text-align: center;
    }
    